USE [DB_A641AF_canDB]
GO
/****** Object:  Table [dbo].[CAN_DATA]    Script Date: 9/6/2020 12:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAN_DATA](
	[ID_CAN] [int] IDENTITY(1,1) NOT NULL,
	[ALIAS] [varchar](50) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[LAST_NAME] [varchar](50) NOT NULL,
	[LAST_NAME1] [varchar](50) NOT NULL,
	[COUNTRY] [varchar](50) NOT NULL,
	[STATE] [varchar](50) NOT NULL,
	[CITY] [varchar](50) NOT NULL,
	[LONGITUDE] [decimal](9, 6) NOT NULL,
	[ALTITUDE] [decimal](9, 6) NOT NULL,
	[DOB] [date] NOT NULL,
	[ID_ESC] [int] NOT NULL,
	[GEN] [varchar](10) NOT NULL,
	[PROFESSION] [varchar](50) NOT NULL,
	[PIC_PROFILE] [varbinary](max) NULL,
 CONSTRAINT [PK_CAN_DATA] PRIMARY KEY CLUSTERED 
(
	[ID_CAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESC_GEN3]    Script Date: 9/6/2020 12:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESC_GEN3](
	[ANIO] [nchar](10) NOT NULL,
	[GENERACION] [nchar](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESCUELAS]    Script Date: 9/6/2020 12:09:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESCUELAS](
	[ID_ESC] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[TIPO] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CAN_DATA] ON 

INSERT [dbo].[CAN_DATA] ([ID_CAN], [ALIAS], [NAME], [LAST_NAME], [LAST_NAME1], [COUNTRY], [STATE], [CITY], [LONGITUDE], [ALTITUDE], [DOB], [ID_ESC], [GEN], [PROFESSION], [PIC_PROFILE]) VALUES (2, N'JUAN CHARRASCAS', N'JUAN ALBERTO', N'PEREZ', N'LOPEZ', N'MEXICO', N'NUEVO LEON', N'MONTERREY', CAST(25.678856 AS Decimal(9, 6)), CAST(-100.282724 AS Decimal(9, 6)), CAST(N'1982-01-01' AS Date), 1, N'1993-1996', N'ING. INDUSTRIAL', NULL)
INSERT [dbo].[CAN_DATA] ([ID_CAN], [ALIAS], [NAME], [LAST_NAME], [LAST_NAME1], [COUNTRY], [STATE], [CITY], [LONGITUDE], [ALTITUDE], [DOB], [ID_ESC], [GEN], [PROFESSION], [PIC_PROFILE]) VALUES (3, N'PANCHO VILLA', N'FRANCISCO JAVIER', N'VILLA', N'MARTINEZ', N'USA', N'TEXAS', N'MCALLEN', CAST(26.185510 AS Decimal(9, 6)), CAST(-98.235926 AS Decimal(9, 6)), CAST(N'1976-01-01' AS Date), 1, N'1988-1991', N'CIRUJANO', NULL)
SET IDENTITY_INSERT [dbo].[CAN_DATA] OFF
INSERT [dbo].[ESC_GEN3] ([ANIO], [GENERACION]) VALUES (N'1935      ', N'1935-1938 ')
INSERT [dbo].[ESC_GEN3] ([ANIO], [GENERACION]) VALUES (N'1936      ', N'1936-1939 ')
INSERT [dbo].[ESC_GEN3] ([ANIO], [GENERACION]) VALUES (N'1937      ', N'1937-1940 ')
SET IDENTITY_INSERT [dbo].[ESCUELAS] ON 

INSERT [dbo].[ESCUELAS] ([ID_ESC], [NOMBRE], [TIPO]) VALUES (1, N'MARTIRES DE 1906', 2)
INSERT [dbo].[ESCUELAS] ([ID_ESC], [NOMBRE], [TIPO]) VALUES (2, N'TECNICA RICARDO FLORES MAGON', 2)
INSERT [dbo].[ESCUELAS] ([ID_ESC], [NOMBRE], [TIPO]) VALUES (3, N'BICULTURAL AMERICANO DE CANANEA, A.C.', 2)
SET IDENTITY_INSERT [dbo].[ESCUELAS] OFF
